
body{
    background-image: url("./dice2.jpg");
    
}
#player-input{
    width: 85px;
    height:25px;
    color:darkblue;

}

#roll{
    background-image: url(dice.jpg);
    width: 75px;
    height: 75px;
    color: white;
}
